<div id="title_page" class="col-6 m-5">
    <h1 id="title"> My Products </h1>
    <div id="div-button" class="mt-5">
        <button class="btn btn-primary" onclick="createProduct()"> New Product</button>
    </div>
</div>



<div id="div-products" class="container">
    <ul id="ul-products">
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../js/index.js"></script>