<div class="col-4">
    <form class="form" action="/api/auth/register" method="post">
        <div class="col-12 m-5">
            <label class="m-2" for="name">Name</label>
            <input class="form-control" type="text" name="name">
        </div>
        <div class="col-12 m-5">
            <label class="m-2" for="age">Age</label>
            <input class="form-control" type="number" name="age">
        </div>
        <div class="col-12 m-5">
            <label class="m-2" for="email">Email</label>
            <input class="form-control" type="text" name="email">
        </div>
        <div class="col-12 m-5">
            <label class="m-2" for="password">Password</label>
            <input class="form-control" type="password" name="password">
        </div>
        <div class="col-12 m-5 d-flex justify-center">
            <input type="submit" class="btn btn-primary"></input>
        </div>
    </form>
</div>